body{
   background-color: initial;
}

#TerezaH{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#MartinaV{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KaterinaP{
   background-color: blueviolet;
   font-family: fantasy;
   color:darkmagenta;
   
}

#HanaI{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#IrynaP{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
