body{
   background-color: initial;
}

#TerezaH{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#TerezaH {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  background-color: beige;
}

#TerezaH h2 {
  color: green;
}


#TerezaH b {
  color:pink;
}

#TerezaH i {
  color: green;
}


#TerezaH i b {
  color: pink;
}

#TerezaH p {
  background: beige;
  padding: 12px 16px;
  border-radius: 10px;
}

#MartinaV{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KaterinaP{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#HanaI{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#IrynaP{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
